:root{
    --laranja-principal: #ed7300;
    --branco-secundario: #ffffff;
    --botao-azul: #167bf7;
    --cor-de-fundo: #000000;
    --fonte-principal: 'Inter';
}
body{
    background-color: var(--cor-de-fundo);
    color:var(--branco-secundario);
    font-family:var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}
.principal{
    background-image: url("img/image\ 9.png");
    background-repeat: no-repeat;
    background-size: calc(929px);
    background-position: right top;
    text-align: center;
    align-items: center;
}
.container{
    height:100vh;
    display: grid;
    grid-template-columns: 33% 33% 33%;
}
.container__botao{
    background-color:var(--botao-azul);
    border-radius: 5px;
    padding: 1em;
    color: var(--branco-secundario);
    display: block;
    margin-bottom: 2em;

}

.container__titulo{
    font-size: 28px;
    font-weight: 700;
}

.container__imagem{
    margin: 1em 0 2em 0;
}

.container__div{
    margin: 0 6em;
}

.secundario__imagem{
    width: 95%;
}

.secundaio{
    align-items: center;
    margin: 0 10em;
}

.descricao__titulo{
    font-weight: 700;
    font-size: 48px;
    margin-bottom: 0.2em;
}

.secundaio__botao{
    display: inline-block;
    margin-top: 1em;
}
.container__descricao{
    padding: 2em;
}

.dispositivos__lista{
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 5em 2em;
}
.dispositivos{
    text-align: center;
}
.dipositivos__titulo{
    font-size: 46px;
}

.rodape{
    text-align: center;
    margin: 5em 3em;
}

.rodape__lista{
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-top: 1em;
}

.lista__link a{
    text-decoration: none;
    color: var(--laranja-principal);
    margin-left: 1,5em;
}

.rodape__texto{
    margin: 1em 0;
    color: var(--branco-secundario)
}

.container__botao:hover{
    background-color:var(--botao-azul);
}
.lista__link a{
    color: rgb(157, 152, 136);
    font-size: 22px;
}